h1 {
<<<<<<< HEAD
    font-family: CookieRun;
=======
    font-family: fantasy;
>>>>>>> b05c047cab7fb1f6c6118d9eb3a5e5f68c0cbda5
}

div {
    width : 250px;
    height: 100px;
    background-color: #ecffc2;
    border: 2px solid darkgreen;
}

.list-mark {
    list-style-type: circle;
}

a {
    text-decoration: none;
    color: black;
}

.link a:hover {
    font-style: italic;
    text-shadow: 0.5px 1px black;
}

.text-deco {
    text-decoration-line: underline; 
    text-decoration-color: red;
    text-decoration-style: wavy; 
    text-decoration-thickness: 2px;
<<<<<<< HEAD
=======
}

.font-mono {
    font-family: 궁서체;
    color: green;
>>>>>>> b05c047cab7fb1f6c6118d9eb3a5e5f68c0cbda5
}

.font-mono {
    font-family: 궁서체;
    color: green;
}