body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #a8f5db;
    text-align: center;
    padding: 5%;
}

.nav {
    background-color: #8feccd;
    width: auto;
}
.nav>ul>li {
    list-style: none;
    float: left;
    background-color: #8feccd;
    padding: 2%;
    margin: 2%;
}

.main {
    clear: both;
background-color: #53b896;}

.footer {
    background-color: #278b6a;
    padding: 5%;
}

