body {
    margin: 0;
    padding: 0;
}

.wrap {
    display: grid;
    width: 1000px;
    background-color: #c2fbff;
    margin: auto;
    font-size: 2rem;
    text-align: center;
}

.header {
    background-color: #78d5db;
    padding: 40px;
}

.nav {
    background-color: #98dadf;
    padding: 40px;
}



/*
.main {
    overflow: auto;
}

.main>.side-left { 
    float: left; 
    width: 200px; height: 600px;
    background-color: #b4e1e9;
}
.main>.content { 
    float: left; 
    width: 600px; height: 600px;
    background-color: #5b97be;
}
.main>.side-right { 
    float: left; 
    width: 200px; height: 600px;
    background-color: #93c3eb;
}
*/


.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main>.side-left { 
    width: 200px; height: 600px;
    background-color: #b4e1e9;
}
.main>.content { 
    width: 600px; height: 600px;
    background-color: #5b97be;
}
.main>.side-right { 
    width: 200px; height: 600px;
    background-color: #93c3eb;
}




.footer {
    clear: both;
    background-color: #5b7e96;
    padding: 40px;
}



/* 강사님 따라하기 */
.wrap-one {
    width: 1000px;
    background-color: #5b7e96;
    text-align: center; font-size: 2em;
    color: white;
    margin: auto;
    margin-top: 10px;
}

.header-one {
    width: 1000px; height: 200px;
    background-color: #9eb1e6c0;
    font-size: 4rem; 
    line-height: 200px; 
}
/* nav */
.nav-one {
    height: 100px;
    box-sizing: border-box;
    padding: 20px 0;
    background-color: #b0e5e7;
}

/*main-float 의 내용*/
.main-float {
    overflow: auto;
}
.main-float>.left-aside {
    float: left;
    height: 500px;
    width: 250px;
    background-color: #c2fbff;
}
.main-float>.right-aside {
    float: right;
    height: 500px;
    width: 250px;
    background-color: #c2fbff;
}
.main-float>.content {
    margin: 0 250px;
    height: 500px;
    background-color: #5b97be;
}

/* main-grid 의 내용 */
.main-grid {
    clear: both;
    display: grid;
    grid-template-columns: 250px 500px 250px;
    height: 500px;
}
.main-grid>.left-aside {
    background-color: #78d5db;
}
.main-grid>.content {
    background-color:#b4e1e9 ;
} 
.main-grid>.right-aside {
    background-color: aqua ;
}

/* footer */
.footer {
    height: 80px;
}