body {
    margin: 0;
    padding: 0;
}
.wrap {
    margin: auto;
    width: 1000px;
    background-color: darkorange;
    text-align: center;
    font-size: 2rem;
}
.header {
    padding: 40px;
    background-color: rgb(255, 210, 84);
}
.nav {
    padding: 40px;
    background-color: rgb(255, 222, 130);
}
.section {
    display: grid;
    background-color: rgb(255, 249, 169);
    grid-template-columns: 1fr 2fr;
}
.section>.aside {
    grid-row: 1/4;
    background-color: rgb(255, 217, 90);
    height: 500px;
}
.section>.content1 {
    background-color: rgb(255, 202, 27);
    height: 250px;
}
.section>.content2 {
    background-color: rgb(255, 253, 129);
    height: 250px;
}
.footer {
    padding: 40px;
    background-color: rgb(255, 250, 180);
}

/* float */
.wrap-float {
        width: 1000px;
        margin: auto;
        background-color: #feffbb;
        font-size: 2rem;
        text-align: center;
        overflow: auto;
}
.header-one {
    padding: 40px;
    background-color: #f1d995;
}
.nav-one {
    padding: 40px;
    background-color: #feffbb;
}

.aside-one {
    float: left;
    width: 300px; height: 500px;
    background-color: rgb(255, 253, 112);
}

.m-1 { margin-left:300px }

.main>.content1 {
    height: 250px;
    background-color: rgb(255, 229, 82);
}
.main>.content2 {
    height: 250px;
    background-color: rgb(255, 202, 122);
}
.footer-one {
    clear: both;
    padding: 40px; 
    background-color: #f1d995;
}
